<!DOCTYPE html>
<html>
<head>
  <title>Yumblr</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <!-- <%="#{ENV['google_maps_api_key']}"%> -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBi2gBEKxx4HFVS8X9dB7tYOAGjmKEMIa0&libraries=geometry,places"
  type="text/javascript"></script>

  <% if signed_in? %>
    <script>
      window.CURRENT_USER = "<%= current_user.id %>"
      window.CURRENT_USER_USERNAME="<%= current_user.username %>";
    </script>
  <% end %>
</head>
<body>

  <%= render "layouts/errors" %>

  <%= yield %>

</body>
</html>
