<!DOCTYPE html>
<html>
<head>
  <title>Yumblr</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= favicon_link_tag 'favicon.png', type: 'image/png' %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Nunito:400,700' rel='stylesheet' type='text/css'>

  <% if signed_in? %>
    <script>
      window.CURRENT_USER = "<%= current_user.id %>"
      window.CURRENT_USER_USERNAME="<%= current_user.username %>";
    </script>
  <% end %>
</head>
<body>

  <%= render "layouts/errors" %>

  <%= yield %>

  <script src="<%= @google %>" type="text/javascript"></script>

</body>
</html>
